/backend/vendor/
/backend/storage/
/backend/bootstrap/cache/
/backend/.env
/backend/.env.local
/backend/.env.production

/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.env.local
/frontend/.env.production

/db_data/
/docker/*.log

.vscode/
.idea/
