

.infoJoueur
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.divText{
    font-size: 70%;
}

.credit img{
    width: 20px;
    padding-right: 3px;
}

.credit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 97vh;
      left: 0;
    right: 0;
      font-size: smaller;
}

.credit .containt-containt-credit{
    display: flex;
    flex-direction: row;
}

.containt-credit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 5px;
}

.containt-credit a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.kc .theBody{
  width: 100%;
}

.rejointText, .nbTitreText, .ageText{
	scale : 60%;
}

.imgInfoJoueur
{
    width: 70%;
    height: 70%;
}

.teteImg
{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;

    /* Assurez-vous que le corps occupe tout l'écran pour que l'image de fond soit visible partout */
    margin: 0;
    padding: 0;
    height: auto;


    /* Définir l'image de fond et ses propriétés */

    background-size: cover; /* Ajuster la taille de l'image pour couvrir l'ensemble de l'arrière-plan */
    background-repeat: no-repeat;
    background-position: center;
    /*background-position: center; /* Centrer l'image de fond */
    background-attachment: fixed; /* Fixer l'image de fond, elle ne bougera pas lors du défilement */

    color: white;

    font-family: 'Syne', sans-serif;
}

.btn-container img{
    width: 100%;
}

header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_lfl{
    background-image: url('../images/LFLDle_header.png');
}
.lfl{
    background-color: rgb(216, 174, 162);
}

.header_lec{
    background-image: url('../images/LECDle_header.png');
}
.lec{
    background-color: rgb(198, 183, 211);
}

.header_kc{
    background-image: url('../images/KCDle_header.png');
}
.kc{
    background-color: rgb(134, 166, 212);
}


.home{
    background-image: url('../images/DleHome_Fond.png');
}

.home .theBody{
padding-top: 35vh;
}

.infoNom{
     display: flex;
    justify-content: center;
      margin-top: 5vh;
}

.kc .infoNom{
    width: 1%;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: -2.5vw;
    padding-left: 95vw;
}

.divInfo
{
    margin-inline: 2px;
    margin-top: 15px;
    margin-bottom: 2px;
    flex: 1;
}

.divText{
    font-size: 70%;
}

#search
{
    margin-top: 5px;
    position: absolute;
    width: 90vw;
    background-color: #243144;
    z-index: 1;
}

#search div.containt:nth-child(2n)
{
    background-color: #2d4465;
}

#search div.containt:nth-child(2n+1)
{
    background-color: #3162a8;
}

#search div
{
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 4px;

}

#search div div{
    margin-left: 30px;
}

#search img
{
    height: 50px;
    width: 50px;
}


.theBody
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    text-align: start;
    position: fixed;
}

.headerBody{
    display: flex;
}

.x_logo{
    width: 50px;
    height: 50px;
}

footer a
{
    text-decoration: none;
    color: black;
}

.nationalite, .age, .role, .equipe, .joueur, .jeu, .arrivee, .titres, .avantkc, .maintenant
{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100%;
    align-items: center;
}

.divInfoJoueur
{
    max-height: 80px;
    max-width: 80px;

    border: 1px solid black;
    box-shadow: inset 0 0 6px #000;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    margin-top: 4px;

    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s, transform 1s;
    flex: 1;

    width: 100%;
    height: 100%;
}

.arrow{
    scale: 0.05;
}

.ageText, .rejointText, .nbTitreText
{
    color: white;
    font-size: 200%;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.search-bar-lfl, .search-bar-lec, .search-bar-kc
{

    background-size: 100% 70px!important;
    height: 68px;
    width: 90vw;
    box-shadow: none!important;
    display: flex;
    justify-content: center;
}

.search-bar-lfl{
    background-image: url("../images/LFLDle_texte.png");
}
.search-bar-lec{
    background-image: url("../images/LECDle_texte.png");
}

.search-bar-kc{
  background-image: url("../images/KCDle_barre_de_texte.png");
}

.btn-home .logo{
    width: 50vw;
}

.sub:focus
{
    outline: none;
    border: none;
}

.sub
{
    margin-inline: 15px;
    width: 100%;
    background-color: transparent;
    border-style: none;
    text-align: center;
  	margin-top: 7px;
}
#reponse
{
    display: flex;
    flex-direction: column-reverse;
    margin-block: 2px;
    width: 60%;
}

.paysImg
{
    width: 70%;
    height: 50%;
    box-shadow: 2px 2px 20px 0 black;
}


.roleImg
{
    width: 50%;
    height: 50%;
}

.btn-game, .btn-home .logo, .x_logo
{
    cursor: pointer;
}

.btn-game:hover {
    transform: scale(1.03); /* Échelle de 1.2 (20% d'agrandissement) au survol */
}

.btn-home .logo:hover, .x_logo:hover{
    transform: scale(1.01);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.popup-gg{
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s, transform 1s;

    margin-top: 50px;
	width: 90vw;
    max-width: 600px;
    height: 700px;
}

.containt:hover{
    scale : 1.03
}

.x_logo{
    padding-top: 10px;
}

.btn-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.btn-description{
    position: relative;
    right: 7px
}

.btn-txt
{
    text-align: left;
    position: absolute;
}

.logo{
    /*animation: 1.5s infinite alternate logoAnimation;*/
}

@keyframes logoAnimation {

    from{
        scale: 0.9;
    }
    to{
        scale: 1.05;
    }

}

/*   transition: flex-basis .1s ease;
transition : background-color .3s ease;
*/

/* animation */

/* Appliquer les styles pour l'animation en cours */
.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.no-animation{
	animation : none;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.containt-name{
    position: relative;
    top: 32px;
}

.btn-home{
    height: 10vh;
  padding-top: 30px;
}

.sponso img{
    height: 15vw;
    width: 15vw;
}

.sponso{
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    font-family: Arial, serif;
}

.annonce-match{
    width: 30vw;
    align-self: center;
}

.annonce-match img{
    width: 100%;
    height: auto;
}