

.infoJoueur
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.decalage{
	display: none
}

.hide{
    display: none;
}

body{
  overflow-x: hidden;
}

.credittxt{
    padding-top: 10px;
    cursor: pointer;
}

.credit{
    position: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    text-align: center;
    background-color: lightpink;
    border: solid 5px white;
    width: 10%;
    max-width: 10%;
    min-width: 10%;
    left: 95.5%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
  	padding-block: 10px;
    
}

.show{
    animation: 1s move_credit;
    left: 89.5%;
}

@keyframes move_credit {
    from {
        left: 95.5%;
    }
    to {
        left: 89.5%;
    }
}

@keyframes un_move_credit {
    from {
        left: 89.5%;
    }
    to {
        left: 95.5%;
    }
}

.credit a{
    font-size: 125%;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
}

.credit img{
    max-width: 70px;
    padding-bottom: 10px;
}

.containt-credit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  	cursor: pointer;
}

.close{
    position: absolute;
    bottom: 95%;
    left: 85%;
    cursor: pointer;
}

.imgInfoJoueur
{
    width: 70%;
    height: 70%;
}

.teteImg
{
    width: 100%;
    height: 100%;
}

.arrow{
    scale: 0.07;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;

    /* Assurez-vous que le corps occupe tout l'écran pour que l'image de fond soit visible partout */
    margin: 0;
    padding: 0;
    height: auto;


    /* Définir l'image de fond et ses propriétés */
  
    background-repeat: no-repeat;
    background-position: center;
    /*background-position: center; /* Centrer l'image de fond */
    background-attachment: fixed; /* Fixer l'image de fond, elle ne bougera pas lors du défilement */

    color: white;

    font-family: 'Syne', sans-serif;

}

.btn-container img{
    width: 100%;
    max-width: 1600px;
    max-height: 210px;
}

.lfl{
    background-image: url('../images/LFLDle_fond.png');
}
.lec{
    background-image: url('../images/LECDle_fond.png');
}

.kc{
  background-image: url('../images/KCDle_fond.png');
}

.home{
    background-image: url('../images/DleHome_Fond.png');
}

.home .theBody{
    padding-top: 270px;
}

.infoNom{
    display: flex;
    justify-content: center;
  	padding-top: 15px;
}

.divInfo
{
    margin-inline: 2px;
    margin-top: 15px;
    margin-bottom: 2px;
    width: 102px;
}

#search
{
    margin-top: 5px;
    position: absolute;
    width: 30vw;
    background-color: #243144;
    z-index: 1;
}

#search div.containt:nth-child(2n)
{
    background-color: #2d4465;
}

#search div.containt:nth-child(2n+1)
{
    background-color: #3162a8;
}

#search div
{
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 4px;

}

#search div div{
    margin-left: 30px;
}

#search img
{
    height: 50px;
    width: 50px;
}


.theBody
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    text-align: start;
    position: fixed;
}

.headerBody{
    display: flex;
}

.x_logo{
    width: 50px;
    height: 50px;
}

footer a
{
    text-decoration: none;
    color: black;
}

.divInfoJoueur
{
    max-height: 100px;
    max-width: 100px;
    width: 100px;
    height: 100px;

    border: 1px solid black;
    box-shadow: inset 0 0 6px #000;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    margin: 2px;

    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s, transform 1s;
}

.ageText, .rejointText, .nbTitreText
{
    color: white;
    font-size: 200%;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.search-bar-lfl, .search-bar-lec, .search-bar-kc
{

    background-size: 100% 70px!important;
    height: 68px;
    width: 30vw;
    box-shadow: none!important;
    display: flex;
    justify-content: center;
}


.search-bar-kc .sub{
  margin-top : 3px;
}

.search-bar-lfl{
    background-image: url("../images/LFLDle_texte.png");
}
.search-bar-lec{
    background-image: url("../images/LECDle_texte.png");
}

.search-bar-kc{
  background-image: url("../images/KCDle_barre_de_texte.png");
}

.sub:focus
{
   outline: none;
    border: none;
}

.sub
{
    margin-inline: 15px;
    width: 100%;
    background-color: transparent;
    border-style: none;
    text-align: center;
  	margin-top: 7px;
}

#reponse
{
    display: flex;
    flex-direction: column-reverse;
    margin-block: 2px;
}

.paysImg
{
    width: 70%;
    height: 50%;
    box-shadow: 2px 2px 20px 0 black;
}


.roleImg
{
    width: 50%;
    height: 50%;
}

.btn-game, .btn-home .logo, .x_logo
{
    cursor: pointer;
}

.btn-game:hover {
    transform: scale(1.03); /* Échelle de 1.2 (20% d'agrandissement) au survol */
}

.btn-home .logo:hover, .x_logo:hover{
    transform: scale(1.01);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-gg{
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s, transform 1s;

    margin-top: 50px;
    width: 600px;
    max-width: 600px;
    height: 700px;
}

.containt:hover{
    scale : 1.03
}

.x_logo{
    padding-top: 10px;
}

.btn-container{
    display: flex;
    flex-direction: column;
}

.btn-description{
    position: relative;
    right: 7px
}

.btn-txt
{
    text-align: left;
    position: absolute;
}

.logo:hover{
	animation : none;
}

.logo{
    /*animation: 1.5s infinite alternate logoAnimation;*/
}

@keyframes logoAnimation {

    from{
        scale: 0.9;
    }
    to{
        scale: 1.05;
    }

}


/*   transition: flex-basis .1s ease;
transition : background-color .3s ease;
*/

/* animation */

/* Appliquer les styles pour l'animation en cours */
.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.no-animation{
	animation : none;
}

.btn-container img{
    width: 100%;
    scale: 0.9;
}

.btn-home{
  /*position: absolute;*/
  top: 50px;
  left: 0;
  right: 0;
}

.containt-name{
    top: 290px;
}

.infoNom{
	padding-top: 5vh;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 32vh;
}

.containt-name{
padding-top: 10px;
}

.btn-home{
    height: 180px;
}

.logo{
/*height: 100%;*/
}

body{
background-size : cover;
}

